@font-face {
  font-family: "Geist Sans";
  src: url("./fonts/Geist-Sans-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./fonts/Geist-Mono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BSMNT Grotesque";
  src: url("./fonts/BasementGrotesqueVF.woff2") format("woff2");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --geist-sans: "Geist Sans";
  --geist-mono: "Geist Mono";
  --bsmnt-grotesque: "BSMNT Grotesque";
}
